.keah1 {
	background-color: #1b1b1b;
	color: #FFFFFF;
}

h2{
	position: relative;
	padding-bottom: .5em;
	border-bottom: 1px solid #cccccc;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1b2538;
}
.menubutton {
	float: left;
	border-right: 1px solid #bbbbbb;
}
.menubutton:last-child {
	border-right: none;
}
.menubutton a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.menubutton a:hover:not(.active) {
	background-color: #e9ecf1;
}
.active {
	background-color: #fd0008;
}

.updates {
	position: relative;
	width: 100%;
	/*padding-top: 10.00%;*/
}
.updates iframe {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.hitokoto {
	position: relative;
	width: 100%;
	/*padding-top: 10.00%;*/
}
.hitokoto iframe {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

table{
	border-collapse: collapse;
	width: 100%;
	max-width: width;
}
td{
	border:solid 1px;
	padding:0.5em;
}

header_pic{
	width:100%;
	max-width: width;
	height: auto;
}